<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wekimi.android"
    android:versionCode="1"
    android:versionName="1.0" >
    
  <uses-permission android:name="android.permission.INTERNET" /> 
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
  <uses-permission android:name="android.permission.SEND_SMS" /> 
  <uses-permission android:name="android.permission.RECEIVE_SMS" /> 
  <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  
  <uses-feature android:name="android.hardware.location" android:required="true" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <application
        android:name="Person"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="WekimiMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="FunctionActivity" ></activity>
        <activity android:name="GiveHelpActivity" ></activity>
        <activity android:name="RequestHelpActivity"></activity>
        <activity android:name="ViewProfileActivty"></activity>
        <activity android:name="ViewMyProfile"></activity>
        <activity android:name="NMapPOIflagType"></activity>
        <activity android:name="NMapViewResourceProvider"></activity>
        <activity android:name="GetJSON"></activity>
        <activity android:name="Profile"></activity>
        <activity android:name="Person"></activity>
        <activity android:name="SirenActivity"></activity>
        <activity android:name="RespondHelpActivity"></activity>
        <activity android:name="BeforeRespondActivity">
             <intent-filter>
        		<action android:name="android.intent.action.VIEW"/> 
        		<category android:name="android.intent.category.DEFAULT"/>
        		<category android:name="android.intent.category.BROWSABLE"/>
       		 	<data android:scheme="wekimi" />
   			 </intent-filter>
        </activity>
        <activity android:name="Settings"></activity>
        <activity android:name="Register"></activity>
        <activity android:name="ContactRowDetail"></activity>
        <activity android:name="RegisterContact"></activity>
        <activity android:name="RegisterMyInfo"></activity>
        <activity android:name="RegisterPic"></activity>
        <activity android:name="Tab1"></activity>
        <activity android:name="Tab2"></activity>
    </application>
</manifest>